<div>
    <div cds-layout="grid cols:auto gap:xl align:horizontal-center" *ngIf="cocktail$ | async as cocktail; else loading">
        <img height="350px" [src]="cocktail.strDrinkThumb" />

        <section>
            <h3>{{ cocktail.strDrink }}</h3>

            <h4>Category</h4>
            <p>{{ cocktail.strCategory }}, {{ cocktail.strAlcoholic }} </p>

            <h4>Ingredients</h4>
            <p>{{ cocktail.strIngredient1 + ", " + cocktail.strIngredient2 }}</p>

            <h4>Instructions</h4>
            <p>{{ cocktail.strInstructions }}</p>
        </section>
    </div>

    <ng-template #loading>
        <cds-progress-circle size="xl" aria-label="Cocktails are loading"></cds-progress-circle>
    </ng-template>
</div>