<div class="card" cds-layout="grid cols@sm:6 cols@md:auto align:horizontal-center" *ngIf="cocktail$ | async as cocktail; else loading">
    <img cds-layout="m:lg" width="80%" [src]="cocktail.strDrinkThumb" />

    <section>
        <div class="card-header">
            <h3>{{ cocktail.strDrink }}</h3>
        </div>

        <div class="card-block">
            <h4>Category</h4>
            <p>{{ cocktail.strCategory }}, {{ cocktail.strAlcoholic }} </p>

            <h4>Ingredients</h4>
            <p>{{ cocktail.strIngredient1 + ", " + cocktail.strIngredient2 }}</p>

            <h4>Instructions</h4>
            <p>{{ cocktail.strInstructions }}</p>
        </div>
    </section>
</div>

<ng-template #loading>
    <cds-progress-circle size="xl" aria-label="Cocktail is loading"></cds-progress-circle>
</ng-template>